<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss} [%highlight(%5level)] %logger{0}:%line %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="application" class="io.github.mtrevisan.hunlinter.services.log.ApplicationLogAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>application</marker>
			</evaluator>
			<onMatch>NEUTRAL</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%date{HH:mm:ss} %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rule-reducer" class="io.github.mtrevisan.hunlinter.services.log.ApplicationLogAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>rule-reducer</marker>
			</evaluator>
			<onMatch>NEUTRAL</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rule-reducer-status" class="io.github.mtrevisan.hunlinter.services.log.ApplicationLogAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>rule-reducer-status</marker>
			</evaluator>
			<onMatch>NEUTRAL</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%msg</pattern>
		</encoder>
	</appender>

	<logger name="io.github.mtrevisan.hunlinter" level="info" />

	<logger name="sun.misc" level="off" />
	<logger name="java.util" level="off" />


	<root>
		<appender-ref ref="console" />
		<appender-ref ref="application" />
		<appender-ref ref="rule-reducer" />
		<appender-ref ref="rule-reducer-status" />
	</root>
</configuration>
