<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss} [%highlight(%5level)] %logger{0}:%line - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="application" class="unit731.hunspeller.services.ApplicationLogAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>application</marker>
			</evaluator>
			<onMatch>NEUTRAL</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%date{HH:mm:ss} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="unit731.hunspeller" level="info" />
<!--	<logger name="unit731.hunspeller.parsers" level="info" />-->

	<logger name="sun.misc" level="off" />
	<logger name="java.util" level="off" />


	<root>
		<appender-ref ref="console" />
		<appender-ref ref="application" />
	</root>
</configuration>
