<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false" packagingData="true">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%5level] %logger{0}:%line %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="unit731.hunspeller" level="debug" />
<!--	<logger name="unit731.hunspeller.parsers" level="info" />-->

	<logger name="sun.misc" level="off" />
	<logger name="java.util" level="off" />


	<root>
		<appender-ref ref="console" />
	</root>
</configuration>
